<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đề 2 - Nhóm 2</title>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .heading {
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .app {
            height: 80%;
        }
        .container {
            height: 100%;
        }
        table {
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }

        #linearErrorDist,#linearPredPlot{
            display: none;
        }
    </style>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h2>Bài toán hồi quy - Dự đoán Giá nhà ở California</h2>
            <p>Theo các phương pháp: Hồi quy tuyến tính, Lasso, Neural Network và Stacking</p>
        </div>
        <div class="app row">
            <form id="prediction-form" class="col-6">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="med-inc">MedInc:</label>
                        <input class="form-control" type="text" id="med-inc" name="med-inc" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="house-age">HouseAge:</label>
                        <input class="form-control" type="text" id="house-age" name="house-age" required>
                    </div>
                    <div class="form-group mb-3 col-4">
                        <label for="ave-rooms">AveRooms:</label>
                        <input class="form-control" type="text" id="ave-rooms" name="ave-rooms" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-3 col-4">
                        <label for="ave-bedrms">AveBedrms:</label>
                        <input class="form-control" type="text" id="ave-bedrms" name="ave-bedrms" required>
                    </div>
                    <div class="form-group mb-3 col-4">
                        <label for="population">Population:</label>
                        <input class="form-control" type="text" id="population" name="population" required>
                    </div>                
                    <div class="form-group mb-3 col-4">
                        <label for="ave-occup">AveOccup:</label>
                        <input class="form-control" type="text" id="ave-occup" name="ave-occup" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-3 col-4">
                        <label for="latitude">Latitude:</label>
                        <input class="form-control" type="text" id="latitude" name="latitude" required>
                    </div>
                    <div class="form-group mb-3 col-4">
                        <label for="longitude">Longitude:</label>
                        <input class="form-control" type="text" id="longitude" name="longitude" required>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary w-100" type="submit">Dự đoán</button>
                    </div>
                </div>
            </form>

            <div id="results" class="col-6"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>Prediction</th>
                            <th>MAE</th>
                            <th>MSE</th>
                            <th>R2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Linear Regression</td>
                            <td id="linear-prediction">Trống</td>
                            <td id="linear-MAE">Trống</td>
                            <td id="linear-MSE">Trống</td>
                            <td id="linear-R2">Trống</td>
                        </tr>
                        <tr>
                            <td>Lasso</td>
                            <td id="lasso-prediction">Trống</td>
                            <td id="lasso-MAE">Trống</td>
                            <td id="lasso-MSE">Trống</td>
                            <td id="lasso-R2">Trống</td>
                        </tr>
                        <tr>
                            <td>Neural Network</td>
                            <td id="mlp-prediction">Trống</td>
                            <td id="mlp-MAE">Trống</td>
                            <td id="mlp-MSE">Trống</td>
                            <td id="mlp-R2">Trống</td>
                        </tr>
                        <tr>
                            <td>Stacking</td>
                            <td id="stacking-prediction">Trống</td>
                            <td id="stacking-MAE">Trống</td>
                            <td id="stacking-MSE">Trống</td>
                            <td id="stacking-R2">Trống</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <img id="linearErrorDist" src="static/error_distribution.png" alt="Linear Regression Error Distribution" style="width: 100%; height: auto;">
                <img id="linearPredPlot" src="static/predict_distributton.png" alt="Linear Regression Prediction Plot" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <script>
        document.getElementById('prediction-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const formData = new FormData(this);
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });
            const data = await response.json();

            document.getElementById('linear-prediction').innerText = data.prediction_linear.toFixed(2);
            document.getElementById('lasso-prediction').innerText = data.prediction_lasso.toFixed(2);
            document.getElementById('mlp-prediction').innerText = data.prediction_mlp.toFixed(2);
            document.getElementById('stacking-prediction').innerText = data.prediction_stacking.toFixed(2);

            document.getElementById('linear-MAE').innerText = data.mae_linear.toFixed(2);
            document.getElementById('lasso-MAE').innerText = data.mae_lasso.toFixed(2);
            document.getElementById('mlp-MAE').innerText = data.mae_mlp.toFixed(2);
            document.getElementById('stacking-MAE').innerText = data.mae_stacking.toFixed(2);

            document.getElementById('linear-MSE').innerText = data.mse_linear.toFixed(2);
            document.getElementById('lasso-MSE').innerText = data.mse_lasso.toFixed(2);
            document.getElementById('mlp-MSE').innerText = data.mse_mlp.toFixed(2);
            document.getElementById('stacking-MSE').innerText = data.mse_stacking.toFixed(2);

            document.getElementById('linear-R2').innerText = data.r2_linear.toFixed(2);
            document.getElementById('lasso-R2').innerText = data.r2_lasso.toFixed(2);
            document.getElementById('mlp-R2').innerText = data.r2_mlp.toFixed(2);
            document.getElementById('stacking-R2').innerText = data.r2_stacking.toFixed(2);

            document.getElementById('linearErrorDist').style.display = 'block';
            document.getElementById('linearPredPlot').style.display = 'block';
        });
    </script>
</body>
</html>
